<p>
  <%= image_tag "/themes/#{theme}/images/38degrees-orange.png", height: 50 %>
</p>
<p id="notice">
  <%= notice %>
</p>
<p>
  <%= link_to 'View files', '/' %> |
  <%= link_to 'Add new file', new_item_path %> |
  <%= link_to 'Tags', '/tags' %> |
  <%= link_to 'Search', '/search' %>
</p>
