<h1>Files</h1>

<table>
  <tbody>
    <% @items.each do |item| %>
      <tr>
        <td><%= link_to item do %><%= image_tag item.file.url( :thumb, false ) %><% end %></td>
        <td><%= link_to item do %><%= item.file_file_name %><% end %></td>
        <td><%= link_to 'Show',   item %></td>
        <td><%= link_to 'Edit',   edit_item_path(item) %></td>
        <td><%= link_to 'Delete', item, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= button_to 'Upload new file', new_item_path, method: :get %>
