<p id="notice"><%= notice %></p>

<h1>Files</h1>

<table>
  <tbody>
    <% @items.each do |item| %>
      <tr>
        <td><%= image_tag item.file.url( :thumb, false ) %></td>
        <td><%= item.file_file_name %></td>
        <td><%= link_to 'Show', item %></td>
        <td><%= link_to 'Edit', edit_item_path(item) %></td>
        <td><%= link_to 'Destroy', item, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= button_to 'Upload new file', new_item_path, method: :get %>
