<!DOCTYPE html>
<html>
  <head>
    <title>Mah Bucket!!</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= render "/layouts/themes/#{Rails.configuration.settings['theme']['name']}/header" %>

    <%= yield %>

    <%= render "/layouts/themes/#{Rails.configuration.settings['theme']['name']}/footer" %>
  </body>
</html>
